[profile default]
region = eu-west-1

{{- if eq .chezmoi.os "darwin" }}
[profile quandoo-users]
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-resource-service]
role_arn = arn:aws:iam::326629179249:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-resource-web-production]
role_arn = arn:aws:iam::428437291288:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-resource-web-staging]
role_arn = arn:aws:iam::061282548077:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-resource-bi-production]
role_arn = arn:aws:iam::525248452320:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-resource-bi-staging]
role_arn = arn:aws:iam::295933771647:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-resource-marketing-production]
role_arn = arn:aws:iam::296158021321:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-resource-marketing-staging]
role_arn = arn:aws:iam::837298984880:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-website-team]
role_arn = arn:aws:iam::295164615319:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-billing]
role_arn = arn:aws:iam::477417766268:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-backup]
role_arn = arn:aws:iam::301322328348:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-cloudtrail]
role_arn = arn:aws:iam::665011338739:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile lobu]
role_arn = arn:aws:iam::474684023255:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-dev]
role_arn = arn:aws:iam::453429343026:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-int]
role_arn = arn:aws:iam::749341728828:role/admin
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-deployer-dev]
role_arn = arn:aws:iam::453429343026:role/quandoo-terraform-deployer
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-deployer-stg]
role_arn = arn:aws:iam::061282548077:role/quandoo-terraform-deployer
source_profile = quandoo-users
region = eu-west-1
mfa_serial = arn:aws:iam::435362087805:mfa/renato.silva

[profile quandoo-resource-sandbox-sso]
sso_session = Quandoo
sso_account_id = 341399899886
sso_role_name = QuandooAdministrator
region = eu-west-1

[sso-session quandoo]
sso_start_url = https://quandoo.awsapps.com/start#
sso_region = eu-west-1
sso_registration_scopes = sso:account:access

[profile quandoo-resource-dev-sandbox]
sso_session = quandoo
sso_account_id = 453429343026
sso_role_name = QuandooAdministrator
region = eu-west-1
{{- else }}

[profile cterm-sandbox-account]
sso_session = cterm-sso
sso_account_id = 359920445716
sso_role_name = AdministratorAccess
region = eu-west-1

[profile cterm-sso-account]
sso_session = cterm-sso
sso_account_id = 838081971836
sso_role_name = AdministratorAccess
region = eu-west-1

[sso-session cterm-sso]
sso_start_url = https://creatives.awsapps.com/start#
sso_region = us-east-1
sso_registration_scopes = sso:account:access
{{- end }}
