-- Setup Plugins --
require('plugins')

---- Toggleterm ----
require('toggleterm').setup{
  size = 20,
  open_mapping = [[<Leader>tt]],
  direction = 'horizontal',
  shell = 'fish',
  shading_factor = 0
}

---- Lualine ----
require('lualine').setup({
  options = {
    theme = "nord",
    component_separators = { left = "|", right = "|" }
  }
})

---- Nvim Tree ----
require('nvim-tree').setup({
  sync_root_with_cwd = true,
  auto_reload_on_write = true,
  reload_on_bufenter = true,
  view = {
    adaptive_size = true,
    side = "left",
  },
  tab = {
    sync = {
      open = true,
      close = true,
    },
  }
})

---- Neovim Project ----
vim.opt.sessionoptions:append("globals")
require("neovim-project").setup({
  last_session_on_startup = false,
  projects = {
    {{ if eq .chezmoi.os "darwin" -}}
    "~/Work/Projects/*",
    "~/Work/*",
    {{ end -}}
    "~/Projects/*",
    {{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "nixos") -}}
    "/etc/nixos/*",
    {{ end -}}
  }
})

---- Chezmoi ---
require('chezmoi').setup({
  edit = {
    watch = true
  }
})

-- Set Theming Nord Colorscheme --
vim.cmd([[ colorscheme nord ]])

-- Set Options --
vim.opt.guifont = { {{ .font | quote }}, ":h16" }
vim.g.neovide_transparency = 0.90
vim.o.hidden = true
vim.o.number = true
vim.o.termguicolors = true
vim.o.expandtab = true
vim.o.shiftwidth = 2
vim.o.grepprg = "rg --vimgrep --no-heading --smart-case"
vim.o.grepformat = "%f:%l:%c:%m"
vim.opt.number = true
vim.opt.relativenumber = true
vim.o.statuscolumn = "%s %l %r"
vim.api.nvim_set_var("neovide_remember_window_size", true)

-- Mappings --
vim.keymap.set('n', '<Leader>gg', ':LazyGit<CR>')
vim.keymap.set('n', '<Leader>ps', ':PackerSync<CR>')
vim.keymap.set('n', '<Leader>ee', ':NvimTreeToggle<CR>')
vim.keymap.set('n', '<Leader>yy', '"+y')
vim.keymap.set('n', '<Leader>pp', '"+p')
vim.keymap.set('n', '<Leader>pr', ':NeovimProjectLoadRecent<CR>')

-- Mappings for Telescope --

---- Neovim-project and basic Telescope functions ----
local builtin = require('telescope.builtin')
local telescope = require('telescope')
local pj = telescope.load_extension('neovim-project')
vim.keymap.set('n', '<Leader>pd', pj.discover, {})
vim.keymap.set('n', '<Leader>ph', pj.history, {})
vim.keymap.set('n', '<Leader>ff', builtin.find_files, {})
vim.keymap.set('n', '<Leader>fg', builtin.live_grep, {})
vim.keymap.set('n', '<Leader>fb', builtin.buffers, {})
vim.keymap.set('n', '<Leader>fr', builtin.registers, {})

---- Set chezmoi extension mappings ----
local chezmoi = telescope.load_extension('chezmoi')
vim.keymap.set('n', '<Leader>cf', ':Telescope chezmoi find_files<CR>', {})
