{{ if (eq .chezmoi.os "linux") -}}
  {{ if (and (not .codespaces) .homebrew) -}}
  eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
  {{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
  {{ if not .codespaces -}}
  eval (/opt/homebrew/bin/brew shellenv)
  {{ end -}}
{{ end -}}
