{{ if eq .chezmoi.os "linux" -}}
  {{ if (and (not .codespaces) .homebrew) -}}
  source /home/linuxbrew/.linuxbrew/opt/asdf/libexec/asdf.fish
  {{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
  {{ if and (not .codespaces) .asdf -}}
  source /opt/homebrew/opt/asdf/libexec/asdf.fish
  {{ end -}}
{{ end -}}
