{{- $codespaces := env "CODESPACES"      | not | not -}}
{{- $quandooEnv := env "QUANDOO_ENV"     | not | not -}}
{{- $homebrew   := env "HOMEBREW_CELLAR" | not | not -}}
{{- $asdf       := env "ASDF_DIR"        | not | not -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}

diff:
  command: nvim
  args:
    - -d
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Target }}" }}"

merge:
  command: nvim
  args:
    - -d
    - "{{ "{{ .Source }}" }}"
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Target }}" }}"

edit:
  command: nvim

data:
  name: Renato Biancalana da Silva
  font: JetBrainsMono Nerd Font
  codespaces: {{ $codespaces }}
  quandooEnv: {{ $quandooEnv }}
  homebrew: {{ $homebrew }}
  asdf: {{ $asdf }}
  {{- if $codespaces }}
  {{- if $quandooEnv }}
  email: renato.silva@quandoo.com
  signingkey: 3F478438C0036174
  {{- else }}
  email: reesilva@pm.me
  signingkey: 8043074595E0601E
  {{- end }}
  {{- else }}
  email: {{ promptString "email" | quote }}
  signingkey: {{ promptString "signingkey" | quote }}
  {{- end }}
