{{- $codespaces := env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

data:
  name: Renato Biancalana da Silva
  codespaces: {{ $codespaces }}
  {{- if $codespaces }}
  {{- if eq .chezmoi.hostname "QL02010" }}
  email: renato.silva@quandoo.com
  signingkey: 3F478438C0036174
  {{- else }}
  email: reesilva@pm.me
  signingkey: 8043074595E0601E
  {{- end }}
  {{- else }}
  email: {{ promptString "email" | quote }}
  signingkey: {{ promptString "signingkey" | quote }}
  {{- end }}
