{{- if not .codespaces -}}
[user]
	email = {{ .email | quote }}
	name = Renato Biancalana da Silva
        signingkey = {{ .signingkey | quote }}
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
        {{- if eq .chezmoi.os "darwin" }}
	excludesFile = /Users/renato.silva/.gitignore
        {{- else }}
        excludesFile = /home/reesilva/.gitignore
        {{- end }}
[difftool]
        prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
        cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = nvimdiff
[mergetool]
        keepBackup = false
[mergetool "nvimdiff"]
        cmd = nvim -d $LOCAL $REMOTE $MERGED
{{- end -}}
