[user]
	email = {{ .email | quote }}
	name = Renato Biancalana da Silva
        signingkey = {{ .signingkey | quote }}
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
        {{- if eq .chezmoi.hostname "QL02010" }}
	excludesFile = /Users/renatosilva/.gitignore
        {{- else }}
        excludesFile = /home/reesilva/.gitignore
        {{- end }}
[credential]
	helper = store
[merge]
	tool = nvimdiff
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
