return {
  -- add gruvbox
  { "catppuccin/nvim" },

  -- Configure LazyVim to load gruvbox
  {
    "LazyVim/LazyVim",
    opts = {
      {{ if eq .chezmoi.os "darwin" -}}
      colorscheme = "catppuccin-latte",
      {{ else -}}
      colorscheme = "catppuccin-mocha",
      {{ end -}}
    },
  },
}
