return {
  { "catppuccin/nvim" ,
    opts = {
      transparent_background = true
    },
  },
  {
    "LazyVim/LazyVim",
    opts = {
      {{ if eq .chezmoi.os "darwin" -}}
      colorscheme = "catppuccin-latte",
      {{ else -}}
      colorscheme = "catppuccin-mocha",
      {{ end -}}
    },
  },
}
