font={{ .font | quote }}
font-size=18
daemonize
fade-in=1
indicator
clock
effect-blur=10x3
image=/home/reesilva/.config/wallpapers/nord_icy_peaks.png
indicator-radius=75
indicator-x-position=3300
indicator-y-position=1315
color=2e3440cc
bs-hl-color=bf616aff
indicator-thickness=7
inside-color=2e3440ff
inside-clear-color=2e3440ff
inside-ver-color=2e3440ff
inside-wrong-color=2e3440ff
key-hl-color=81a1c1ff
line-color=3b4252ff
line-clear-color=3b4252ff
line-ver-color=3b4252ff
line-wrong-color=3b4252ff
ring-color=4c566aff
ring-clear-color=d8dee9ff
ring-ver-color=5e81acff
ring-wrong-color=bf616aff
text-color=d8dee9ff
text-clear-color=d8dee9ff
text-ver-color=d8dee9ff
text-wrong-color=d8dee9ff
