vim.cmd([[
  augroup packer_user_config
    autocmd!
    autocmd BufWritePost plugins.lua source <afile> | PackerCompile
  augroup end
]])
return require('packer').startup(function()
  use 'wbthomason/packer.nvim'
  use 'arcticicestudio/nord-vim'
  use {
    'nvim-tree/nvim-tree.lua',
    requires = {
      'nvim-tree/nvim-web-devicons', -- optional, for file icons
    }
  }
  use 'neovim/nvim-lspconfig'
  use 'nvim-treesitter/nvim-treesitter'
  use {
    'nvim-telescope/telescope.nvim',
    requires = {
      'nvim-lua/plenary.nvim',
      'kyazdani42/nvim-web-devicons',
      'nvim-treesitter/nvim-treesitter',
      'sharkdp/fd',
      'BurntSushi/ripgrep'
    }
  }
  use 'hrsh7th/nvim-cmp'
  use 'editorconfig/editorconfig-vim'
  use {
    'nvim-lualine/lualine.nvim',
    requires = { 'kyazdani42/nvim-web-devicons', opt = true }
  }
  use 'kdheepak/lazygit.nvim'
  use {'akinsho/toggleterm.nvim', tag = 'v2.*'}
  use {
    'junegunn/fzf.vim',
    requires = { 'junegunn/fzf' }
  }
  use 'jvirtanen/vim-hcl'
  use({
    'iamcco/markdown-preview.nvim',
    run = function() vim.fn["mkdp#util#install"]() end,
  })
  use 'f-person/git-blame.nvim'
  use 'Rasukarusan/nvim-select-multi-line'
  use 'github/copilot.vim'
  use 'towolf/vim-helm'
  use 'mg979/vim-visual-multi'
  use({
    "coffebar/neovim-project",
    requires = {
      { "nvim-lua/plenary.nvim" },
      { "nvim-telescope/telescope.nvim", tag = "0.1.4" },
      { "Shatur/neovim-session-manager" },
    }
  })
  use { 'nvim-telescope/telescope-fzf-native.nvim', run = 'make' }
  use { 'xvzc/chezmoi.nvim', requires = { 'nvim-lua/plenary.nvim' } }
end)
